{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes recettes{% endblock %}

{% block body %}
    <div class="container mt-4">
    {% if not recipes.items is same as([]) %}  
        <h1>Les Recettes Publiques</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

        <div class="count mt-4">
            <p>Il y a {{ recipes.getTotalItemCount }} recettes publiques au total</p>
        </div>
        <div class="container">
            <div class="row">
            {% for recipe in recipes %}            
                <div class="card text-white bg-primary mb-3 mx-2 col-4" style="max-width: 20rem;">
                    <div class="card-header">Recette n°{{recipe.id}}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{recipe.name}}</h4>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Nombre de personne</span> :{{recipe.nbPeople}}{{ (recipe.nbPeople is same as (null)) ? 'Non renseigné' : ''}}</p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Difficulté</span> :{{recipe.difficulty}}{{(recipe.difficulty is same as (null)) ? 'Non renseigné':'/5'}}</p></p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Prix</span> :{{recipe.price}}{{ (recipe.price is same as (null)) ? 'Non renseigné' : ''}}</p></p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Recette créé par</span> :{{recipe.user.pseudo}}</p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Description</span> :{{recipe.description|slice(0,30)}}</p>
                    </div>
                </div>            
            {% endfor %}
            </div>
        </div>

        


        <div class="navigation d-flex justify-content-center mt-4">{{ knp_pagination_render(recipes)}}</div>        
        {% else %}
            <h2>Il n'y a aucune recette</2>
        {% endif %}
    </div>


{% endblock %}
